<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joyari Jewels - Luxury For All | Online Jewelry Shopping Store | India | Joyari.com | Online Jewellery Shopping Store India | Buy Certified Gold and Diamond Jewellery</title>
    <link rel="shortcut icon" sizes="32x32" href="img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="header__top">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="social__icon">
                            <ul class="d-flex">
                                <li>
                                    <a href="#"><img class="in__svg" src="img/facebook.svg" alt="Facebook"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="in__svg" src="img/twitter.svg" alt="Twitter"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="in__svg" src="img/instagram.svg" alt="Instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="logo text-center">
                            <a href="#">
                                <img src="img/joyari-logo.png" alt="Joyari">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="top__nav">
                            <div class="call__us text-right">
                                <a href="#">CALL FREE +(91) 1234 5678 90</a>
                            </div>
                            <div class="top__menu">
                                <ul class="nav justify-content-end">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About us</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Login</a>
                                            <a class="dropdown-item" href="#">Register</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header--block">
            <div class="container">
                <div class="main__header row align-items-center">
                    <div class="col-lg-6 col-sm-1">
                        <div class="mobile_menu">
                            <span class="mobile_menu-icon"></span>
                        </div>
                        <div class="main__menu">
                            <ul class="nav">
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">Rings</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Rings For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">EARRINGS</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Earring For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">PENDANTS</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">PENDANTS For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">NOSE PIN</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">NOSE PIN For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 search__main">
                        <div class="header__search">
                            <form action="">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <button class="search__btn" type="submit"><img src="img/search.svg" alt="Search"></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-5">
                        <div class="cart__icon d-flex align-items-center justify-content-end">
                            <div class="search__bar">
                                <img src="img/search.svg" alt="Search">
                            </div>
                            <div class="whistlist">
                                <a href="#"><img class="in__svg" src="img/whishlist.svg" alt="whistlist"></a>
                                <span class="cart__count">2</span>
                            </div>
                            <div class="shopping__cart">
                                <a href="#"><img  class="in__svg" src="img/shopping-cart.svg" alt="Shopping Cart"></a>
                                <span class="cart__count">4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="shopping__cart--block">
            <div class="container">
                <div class="row">
                    <div class="checkout col-lg-7 col-md-6">
                        <form action="http://resel.co.in/joyari/confirm" id="checkout-form" class="checkout-form" method="post" accept-charset="utf-8">
                            <div class="profile__right">
                                <div class="profile__box">	                      
                                    <div class="profile__box__body">
                                        <div class="address-view">
                                            <p class="address-name"><span>Murtaza Tarwala</span></p>
                                            <p><span>Surat</span></p>
                                            <p><span>Tower Road</span></p>
                                            <p>
                                                <span>Surat-</span>
                                                <span>395003-</span>
                                                <span>Gujarat-</span>
                                                <span>India</span>
                                            </p>
                                            <p><span>admin@admin.com</span></p>
                                            <p class="mobile"><span>+91 9974979279</span></p>
                                        </div>
                                        <div class="form-group">
                                            <label class="pay-method">Payment Method</label>
                                            <div class="custom__radio">
                                                <input type="radio" required="" class="custom__radio__input" id="p1" checked="" name="payment_method" value="COD">
                                                <label for="p1">Cash on Delivery</label>
                                            </div>
                                            <div class="custom__radio">
                                                <input type="radio" required="" class="custom__radio__input" id="p2" checked="" name="payment_method" value="CC Avenue"> 
                                                <label for="p2">CC Avenue</label>
                                            </div>
                                        </div>
                                        <div class="form-group checkBox"> 
                                            <input name="use_same_address" id="terms" class="custom__checkbox" type="checkbox" required="" value="1">
                                            <label class="custom__label" for="terms">I agree to the terms of service and will adhere to them unconditionally.</label>
                                        </div>
                                        <div id="payment-confirmation">
                                            <button type="submit" class="btn effect__btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="order__summary__main">
                            <div class="shopping__coupon">
                                <button class="btn coupon__btn effect__btn">Apply Coupon <img class="in__svg" src="img/down-arrow.svg" alt="Arrow"></button>
                            </div>
                            <h4>Order Summary</h4>
                            <div class="order__summary">
                                <p class="subtotal">Subtotal <span class="price-values">₹66,082</span></p>
                                <p class="discount">You Saved <span class="price-values">- ₹3,363</span></p>
                                <p class="discount">Coupon Discount <span class="price-values"><a class="css-6yxsag epg3bs00">Apply Coupon</a></span></p>
                                <p class="shipping__charge">Delivery Charge (Standard) <span class="price-values"><span class="free">FREE</span></span></p>
                                <p class="price--breakup--final mb-0">TOTAL COST <span class="price-values">₹62,719</span></p>
                            </div>
                            <div class="checkout__button">
                                <a href="#" class="btn effect__btn checkout__btn"><img class="in__svg" src="img/lock.svg" alt="Lock"> Checkout Securely</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer--block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center footer__logo">
                        <a href="#"><img src="img/joyari-logo.png" alt="joyari"></a>
                    </div>
                    <div class="col-lg-12">
                        <div class="footer__nav">
                            <ul class="nav justify-content-center">
                                <li>
                                    <a href="#">Jorayi</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Delivery & Returns</a>
                                </li>
                                <li>
                                    <a href="#">T&C</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="copyright">Joyari Copyright 2020 All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>