<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joyari Jewels - Luxury For All | Online Jewelry Shopping Store | India | Joyari.com | Online Jewellery Shopping Store India | Buy Certified Gold and Diamond Jewellery</title>
    <link rel="shortcut icon" sizes="32x32" href="img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="header__top">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="social__icon">
                            <ul class="d-flex">
                                <li>
                                    <a href="#"><img class="in__svg" src="img/facebook.svg" alt="Facebook"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="in__svg" src="img/twitter.svg" alt="Twitter"></a>
                                </li>
                                <li>
                                    <a href="#"><img class="in__svg" src="img/instagram.svg" alt="Instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="logo text-center">
                            <a href="#">
                                <img src="img/joyari-logo.png" alt="Joyari">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="top__nav">
                            <div class="call__us text-right">
                                <a href="#">CALL FREE +(91) 1234 5678 90</a>
                            </div>
                            <div class="top__menu">
                                <ul class="nav justify-content-end">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About us</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Login</a>
                                            <a class="dropdown-item" href="#">Register</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header--block">
            <div class="container">
                <div class="main__header row align-items-center">
                    <div class="col-lg-6 col-sm-1">
                        <div class="mobile_menu">
                            <span class="mobile_menu-icon"></span>
                        </div>
                        <div class="main__menu">
                            <ul class="nav">
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">Rings</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Rings For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">EARRINGS</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Earring For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">PENDANTS</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">PENDANTS For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                                <li class="nav-item has__child">
                                    <a class="nav-link" href="#">NOSE PIN</a>
                                    <div class="mega__menu">
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">NOSE PIN For Female</a>
                                                </li>
                                                <li>
                                                    <a href="#">Filigree Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Rings For Male</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column">
                                            <ul>
                                                <li>
                                                    <a href="#">Love Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Couple Rings</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shape Rings</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega__menu__column menu__banner" style="background-image: url(img/menu_banner.png)"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 search__main">
                        <div class="header__search">
                            <form action="">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <button class="search__btn" type="submit"><img src="img/search.svg" alt="Search"></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-5">
                        <div class="cart__icon d-flex align-items-center justify-content-end">
                            <div class="search__bar">
                                <img src="img/search.svg" alt="Search">
                            </div>
                            <div class="whistlist">
                                <a href="#"><img class="in__svg" src="img/whishlist.svg" alt="whistlist"></a>
                                <span class="cart__count">2</span>
                            </div>
                            <div class="shopping__cart">
                                <a href="#"><img  class="in__svg" src="img/shopping-cart.svg" alt="Shopping Cart"></a>
                                <span class="cart__count">4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="banner--block blog--banner">
            <div class="home__banner inner__banner">
                <div class="banner__item">
                    <div class="banner__img" style="background-image: url(img/blog-banner.jpg)">
                        <h1>Blog</h1>
                    </div>                    
                </div>
            </div>
        </section>
        <section class="blog--block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog__single">
                            <div class="blog__single__img">
                                <img src="img/products/product1.jpg" alt="Blog">
                            </div>
                            <div class="blog__single__content">
                                <span class="blog__date">by Diego Lopez on June 21, 2018</span>
                                <h2>Incepted to provide distinct and appealing jewellery, Joyari is a name that spells</h2>
                                <p>Joyari is modern yet old school, and believes – that only when one has love within – that it can create and give out love. And from there – we ooze out limitless creativity, with relentless passion and honestly to give out quality creations.</p>
                                <p>Joyari is modern yet old school, and believes – that only when one has love within – that it can create and give out love. And from there – we ooze out limitless creativity, with relentless passion and honestly to give out quality creations.</p>
                                <p>Joyari is modern yet old school, and believes – that only when one has love within – that it can create and give out love. And from there – we ooze out limitless creativity, with relentless passion and honestly to give out quality creations.</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
        <section class="newsletter--block">
            <div class="container">
                <div class="row">
                    <div class="main__title">
                        <h1>Join our Newsletter</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="newsletter__form">
                            <form action="">
                                <input class="form-control" type="search" placeholder="Email Address" aria-label="Search">
                                <button class="newsletter__btn effect__btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer--block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center footer__logo">
                        <a href="#"><img src="img/joyari-logo.png" alt="joyari"></a>
                    </div>
                    <div class="col-lg-12">
                        <div class="footer__nav">
                            <ul class="nav justify-content-center">
                                <li>
                                    <a href="#">Jorayi</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Delivery & Returns</a>
                                </li>
                                <li>
                                    <a href="#">T&C</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="copyright">Joyari Copyright 2020 All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>